In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
%matplotlib inline

In [42]:
directory = r"C:\Users\Paulina\Politechnika\Semestr_III\WDFCS\Projekt\zadanie_3_dane"
pliki = os.listdir(directory)
dane = [pd.read_csv(os.path.join(directory, plik), sep=r"\s*", skiprows=1, header=None, encoding='ANSI') for plik in pliki]
for i in range(len(dane)):
#     print(dane[i].columns)
    dane[i].columns = ['2theta', 'I']

C:\Users\Paulina\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()
C:\Users\Paulina\Anaconda3\lib\site-packages\pandas\io\parsers.py:1961: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
C:\Users\Paulina\Anaconda3\lib\site-packages\pandas\io\parsers.py:1963: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

      2theta    I
0     10.000  0.0
1     10.010  0.0
2     10.020  0.0
3     10.030  0.0
4     10.040  0.0
5     10.050  0.0
6     10.060  0.0
7     10.070  0.0
8     10.080  0.0
9     10.090  0.0
10    10.100  0.0
11    10.110  0.0
12    10.120  0.0
13    10.130  0.0
14    10.140  0.0
15    10.150  0.0
16    10.160  0.0
17    10.170  0.0
18    10.180  0.0
19    10.190  0.0
20    10.200  0.0
21    10.210  0.0
22    10.220  0.0
23    10.230  0.0
24    10.240  0.0
25    10.250  0.0
26    10.260  0.0
27    10.270  0.0
28    10.281  0.0
29    10.291  0.0
...      ...  ...
7957  89.713  0.0
7958  89.723  0.0
7959  89.733  0.0
7960  89.743  0.0
7961  89.753  0.0
7962  89.763  0.0
7963  89.773  0.0
7964  89.783  0.0
7965  89.793  0.0
7966  89.803  0.0
7967  89.813  0.0
7968  89.823  0.0
7969  89.833  0.0
7970  89.843  0.0
7971  89.853  0.0
7972  89.863  0.0
7973  89.874  0.0
7974  89.884  0.0
7975  89.894  0.0
7976  89.904  0.0
7977  89.914  0.0
7978  89.924  0.0
7979  89.934  0.0
7980  89.944  0.0
7981  89.954  0.0
7982  89.964  0.0
7983  89.974  0.0
7984  89.984  0.0
7985  89.994  0.0
7986  90.004  0.0

[7987 rows x 2 columns]

0       10.000
1       10.010
2       10.020
3       10.030
4       10.040
5       10.050
6       10.060
7       10.070
8       10.080
9       10.090
10      10.100
11      10.110
12      10.120
13      10.130
14      10.140
15      10.150
16      10.160
17      10.170
18      10.180
19      10.190
20      10.200
21      10.210
22      10.220
23      10.230
24      10.240
25      10.250
26      10.260
27      10.270
28      10.281
29      10.291
         ...
7957    89.713
7958    89.723
7959    89.733
7960    89.743
7961    89.753
7962    89.763
7963    89.773
7964    89.783
7965    89.793
7966    89.803
7967    89.813
7968    89.823
7969    89.833
7970    89.843
7971    89.853
7972    89.863
7973    89.874
7974    89.884
7975    89.894
7976    89.904
7977    89.914
7978    89.924
7979    89.934
7980    89.944
7981    89.954
7982    89.964
7983    89.974
7984    89.984
7985    89.994
7986    90.004
Name: 0, dtype: object

In [ ]:
dane[0].rename